:root {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --bg-primary: #b6b6b6;
  --bg-secondary: #ececec;
  --text-primary: #23232e;
  --text-secondary: #141418;
  --transition-speed: 200ms ease;
}
body {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  margin: 0;
  padding-top: 3rem;
  gap: 0rem;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10rem 3rem max-content 5rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
}

#banner {
  grid-area: 1 / 1 / 2 / 4;
  margin: 0;
  padding: 0;
}

#search {
  grid-area: 2 / 2 / 3 / 3;
}

.loader {
  grid-area: 3 / 1 / 4 / 4;
  display: none;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #424242; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#city {
  display: none;
  grid-area: 4 / 1 / 5 / 2;
}
#currentCondition {
  display: none;
  grid-area: 4 / 2 / 5 / 3;
}
#temperature {
  display: none;
  grid-area: 4 / 3 / 5 / 4;
}
